.container.testimonials__container {
    width: 40%;
    display: flex;
}

.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    margin-bottom: 0.8rem;
    
}
.client_review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    margin: 0.8rem auto 0;
}

.linkedin{
    color: var(--color-primary);
    font-size: 2.5rem;
}
.reviewer_name{
    color: var(--color-primary);
    font-size: 1.3rem;
}

/* ================= MEDIA QUERIES ==================== */

@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;

    }
}

/* ================= MEDIA QUERIES (MOBILE PHONES)==================== */

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);

    }
    .client_review {
        width: var(--container-width-sm);
    }
}